<div class="site-section">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-7">
          <h2 class="heading-21921">Account Information</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class=" mb-4">
            <div class="form-group">
              <label for="customerName">Name</label>
              <input type="text" class="form-control" id='customerName' value='Diego Alpin' disabled/>
            </div>
            <div class="form-group">
              <label for="customerEmail">Email</label>
              <input type="email" class="form-control" id='customerEmail' value='diego@haha.com' disabled />
            </div>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class=" mb-4">
            <div class="form-group">
                <label for="customerMobileNum">Mobile Number</label>
                <input type="text" class="form-control " id="customerMobileNum" value='89023746' disabled/>
            </div>
            
            <div class="form-group">
              <label for="memberSince">Member Since</label>
              <input type="text" class="form-control " id="memberSince" value="21-May-2023" disabled/>
            </div>
          </div>
        </div>
    </div>
      </div>
    </div>
  
    <div class="row mb-5">
      <div class="col">
        <div class="">
        <button class="btn btn-custom" [routerLink]="['/dashboard']">
            BACK
          </button>
        </div>
      </div>
    </div>
  