<div class="container" style="margin-top: 30px; ;">
    <div class="row">
      <div class="col-md-6">
        <span>
            image about architecture of the application
        </span>
        <img src="https://via.placeholder.com/350x350" alt="Placeholder image">
      </div>
      <div class="col-md-6" style="margin-top: 10%;">
        <p>
          This is the about Us page of TFIP Car Care, 
          an app created and designed by Diego Alpin, 
          A TFIP trainee with UBS of Year 2022 batch 1.
          <br><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at dictum tellus. Aenean gravida maximus tellus, eget sollicitudin magna mollis vel. Sed eget ligula id velit tempor fermentum. Ut nec ex in mauris vestibulum malesuada. Proin sagittis turpis eget felis gravida interdum. Morbi tincidunt orci a sapien rhoncus, non bibendum ex luctus. Suspendisse convallis augue sit amet sapien molestie, vel iaculis dolor convallis.
        </p>
      </div>
    </div>
  </div>